@charset "UTF-8";
/* COLORS */
/* MAIN */
html {
  scroll-behavior: smooth;
}

body {
  background: #131314;
  color: #717474;
}

*, *:hover {
  cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1100.ani), url(http://ani.cursors-4u.net/cursors/cur-12/cur1100.png), auto !important;
}

.box {
  position: relative;
}

.box .box-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -99999;
  overflow: hidden;
}
.box .box-bg video {
  opacity: 0.3;
  width: 100%;
}

.box .box-inner {
  margin: auto;
  text-align: center;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  /* Dimensions */
  width: 100%;
  height: 5px;
  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of the default border in Firefox/Opera. */
  border: none;
  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;
  /* Progress bar value for IE10+ */
  mix-blend-mode: difference;
  color: #717474;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #717474;
}

progress::-moz-progress-bar {
  background-color: #717474;
}

#menu {
  position: fixed;
  margin: 1em;
  z-index: 999;
}
#menu strong {
  padding: 0 0.5em;
}
#menu a {
  display: block;
  color: #717474;
  text-decoration: none;
  margin-bottom: 0.5em;
  padding: 0.25em;
  font-family: "Domaine Disp";
  cursor: e-resize;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#menu a:hover {
  color: #c6cbcb;
}

h1 {
  font-size: 3.2em;
  color: #bcbdbe;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  font-family: "Domaine Disp";
}

#intro {
  min-height: 500px;
}
#intro .box-inner {
  max-width: 600px;
}
#intro h3 {
  font-size: 0.8em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

#end {
  min-height: 500px;
}

#work {
  box-sizing: border-box;
  padding: 10vh 0;
}

.piece {
  margin: auto;
  box-sizing: border-box;
  margin-bottom: 100px;
  max-width: 95%;
  text-align: center;
}
.piece .title {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding: 1em;
  mix-blend-mode: difference;
  z-index: 5;
}
.piece h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
.piece h3 {
  color: #bcbdbe;
  font-family: "Domaine Disp";
  font-size: 2.5em;
  padding: 0.5em;
  margin: auto;
  max-width: 600px;
  line-height: 1.1em;
}
.piece a.full {
  padding: 1em;
  text-decoration: none;
  margin: 1em;
  background: #000;
  color: #bcbdbe;
  box-shadow: 0 0 20px #1b1b1d;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.piece a.full:hover {
  transform: translateY(-2px);
  color: #bcbdbe;
}
.piece a.full::after {
  content: " ↗︎";
  font-family: "Segoe UI Symbol";
}
.piece p {
  max-width: 80%;
  margin: auto;
  padding: 2em 0;
}

.image-container img {
  max-width: 90%;
}

.collage-container {
  margin: auto;
  overflow-x: scroll;
  width: 900px;
  max-width: 90%;
}
.collage-container .collage-inner {
  padding: 0em;
  width: 1200px;
  box-sizing: border-box;
}
.collage-container img {
  max-width: 90%;
}
.collage-container img.tabloid {
  display: inline;
  height: 450px;
  margin: 0 2em;
}

.video-container {
  margin: auto;
  text-align: center;
}
.video-container video, .video-container iframe {
  width: 800px;
  height: 500px;
  margin: auto;
  max-width: 90%;
}

.pdf-container {
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 700px;
  max-width: 90%;
  text-align: center;
}
.pdf-container iframe {
  position: absolute;
  left: 0px;
  border: 0;
  box-shadow: 0 0 20px #000;
  min-width: 900px;
  margin: auto;
  height: 100%;
}

.website-container {
  background: #1b1b1d;
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 900px;
  height: 600px;
  max-width: 90%;
  text-align: center;
  line-height: 600px;
  font-size: 2.9em;
  font-family: "Domaine Disp";
  color: #fff;
}
.website-container iframe {
  position: absolute;
  left: -50px;
  border: 0;
  box-shadow: 0 0 20px #000;
  min-width: 1000px;
  margin: auto;
  height: 100%;
}

@font-face {
  font-family: "Domaine Disp";
  src: url("DomaineDispSemibold.woff2") format("woff2"), url("DomaineDispSemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Domaine Disp";
  src: url("DomaineDisp-Regular.woff2") format("woff2"), url("DomaineDisp-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Domaine Disp";
  src: url("DomaineDisp-RegularItalic.woff2") format("woff2"), url("DomaineDisp-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Domaine Disp";
  src: url("DomaineDispSemibold-Italic.woff2") format("woff2"), url("DomaineDispSemibold-Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
