



/* COLORS */


$bg: #131314;

$text: #717474;
$link: #c6cbcb;


$gray-dark: #1b1b1d;
$gray-middark: #626262;
$gray-mid: #bcbdbe;

/* MAIN */

html{
    
  scroll-behavior: smooth;
}


body{
    background: $bg;
    color: $text;
}

.box{
    position: relative;
}

.box .box-bg{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    z-index: -99999;
    overflow: hidden;
    
    video{
        opacity: .3;
        width:100%;
        
    }
    
}


.box .box-inner{

    margin:auto;
    text-align: center;
}




// PROGRESS BAR

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
    z-index: 9999;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
    mix-blend-mode: difference;
  color: $text;
}


progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $text;
}

progress::-moz-progress-bar {
  background-color: $text;
}


// MENU

#menu{
    position: fixed;
    margin:1em;
    z-index:999;
    
    strong{
        padding:0 .5em;    
    }
    
    
    
    a{
        display: block;
        color: $text;
        text-decoration: none;
        margin-bottom:.5em;
        padding:.25em;
        font-family: 'Domaine Disp';
        cursor: e-resize;
        transition: all .3s  cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
        
    }
    
    a:hover{
        color: $link;
    }
    
}






#intro{
    min-height:500px;
    
    .box-inner{
        max-width:600px;
    }
    
    h1{
        font-size:3.2em;
        color: $gray-mid;
        margin:0;
        padding:.5em;
        box-sizing: border-box;
    font-family: 'Domaine Disp';
        
    }
    
    h3{
        font-size:.8em;
        margin:0;
        text-transform: uppercase;
        letter-spacing: .75px;
    }
}

#work{
    box-sizing: border-box;
    padding:10vh 0;
}


.piece{
    margin: auto;
    box-sizing: border-box;
    margin-bottom:100px;
    max-width:95%;
    text-align: center;
  //  background: yellow;
    
    .title{
          position: -webkit-sticky; /* Safari */
          position: sticky;
        top:0;
        padding:1em;
        mix-blend-mode: difference;
        z-index:5;
    }
    
    h4{
        margin:0;
        text-transform: uppercase;
        letter-spacing: .75px;
    }
    
    h3{
        color: $gray-mid;
        font-family: 'Domaine Disp';
        font-size:2.5em;
        padding:.5em;
        margin: auto;
        margin-bottom:.5em;
        max-width:600px;
        line-height:1.1em;
    }
    
    // link to piece
    
    a.full{
        padding:1em;
        margin:1em;
        background: #000;
        color: $gray-middark;
        box-shadow:0 0 20px $gray-dark;
        display: inline-block;
        
        transition: all .3s  cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    
    a.full:hover{
        transform: translateY(-2px);
        text-decoration: none;
        color: $gray-mid;
    }
    
    a.full::after{
        content: " ↗︎";
        font-family: "Segoe UI Symbol";
    }
    
    // stuff
    
    p{
        max-width:80%;
        margin: auto;
        padding:2em 0;
    }
    
    
}


.image-container{
    
    
    img{
        max-width:90%;
    }
    
}

.collage-container{
    
    margin: auto;
    overflow-x:scroll;
    width:950px;
    max-width:95%;
    
    .collage-inner{
        padding:2em;
        width:1000px;
        box-sizing: border-box;
    }
    
    img{
        max-width:90%;
    }
    
    img.tabloid{
        display: inline;
        height:450px;
        margin: 0 2em;
    }
    
    
}


.video-container{
    
    margin: auto;
   // background: red;
    text-align: center;
    
    iframe{
        width:800px;
        height:500px;
        margin:auto;
        max-width:90%;
    }
    
}


.pdf-container{
    
    margin: auto;
    position: relative;
    overflow: hidden;
    width:900px;
    height:700px;
    max-width:90%;
    text-align: center;

    
    iframe{
        position: absolute;
        left:00px;
        border: 0;
        box-shadow: 0 0 20px #000;
        min-width: 900px;
        margin:auto;
        height:100%;
    }
    
    
}




.website-container{
    
    margin: auto;
    position: relative;
    overflow: hidden;
    width:900px;
    height:600px;
    max-width:90%;
    text-align: center;

    
    iframe{
        position: absolute;
        left:-50px;
        border: 0;
        box-shadow: 0 0 20px #000;
        min-width: 1000px;
        margin:auto;
        height:100%;
    }
    
    
}




@font-face {
    font-family: 'Domaine Disp';
    src: url('DomaineDispSemibold.woff2') format('woff2'),
        url('DomaineDispSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Disp';
    src: url('DomaineDisp-Regular.woff2') format('woff2'),
        url('DomaineDisp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Domaine Disp';
    src: url('DomaineDisp-RegularItalic.woff2') format('woff2'),
        url('DomaineDisp-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Domaine Disp';
    src: url('DomaineDispSemibold-Italic.woff2') format('woff2'),
        url('DomaineDispSemibold-Italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

