



/* COLORS */


$bg: #1b1b1d;

$text: #717474;

/* MAIN */


body{
    background: $bg;
    color: $text;
}

.box-inner{
    margin:auto;
    text-align: center;
}


#intro{
    min-height:50%;
    h1{
        margin:0;
    }
}

#work{
    box-sizing: border-box;
    padding:10vh 0;
}


.piece{
    margin: auto;
    box-sizing: border-box;
    margin-bottom:100px;
    max-width:95%;
    text-align: center;
  //  background: yellow;
    
    p{
        max-width:80%;
        margin: auto;
        padding:2em 0;
    }
    
    
}


.collage-container{
    
    margin: auto;
    overflow-x:scroll;
    width:90%;
    max-width:800px;
    
    .collage-inner{
        width:1000px;
    }
    
    img{
        max-width:90%;
    }
    
    img.tabloid{
        display: inline;
        height:400px;
        margin: 0 2em;
    }
    
    
}


.video-container{
    
    margin: auto;
   // background: red;
    text-align: center;
    
    iframe{
        width:800px;
        height:500px;
        margin:auto;
        max-width:90%;
    }
    
}

.website-container{
    
    margin: auto;
    position: relative;
    overflow: hidden;
    width:800px;
    height:600px;
    max-width:90%;
    text-align: center;

    
    iframe{
        position: absolute;
        left:-100px;
        border: 0;
        box-shadow: 0 0 20px #000;
        min-width: 1000px;
        margin:auto;
        height:100%;
    }
    
    
}

